	<!-- Our Footer -->
	<!-- <section class="ulockd-footer2">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-4">
					<div class="footer-fst-col">
						<div class="footer-logo">
							<img class="ulockd-footer-log img-responsive" src="images/header-logo2.png" alt="">
						</div>
    					<p class="text-thm1">Regardless of whether you need to stay in your own house, are searching for help with a more established relative, looking for exhortation on paying for care, we can help you.</p>
    					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci inventore sit consequuntur incidunt ipsum iusto?</p>
						<ul class="list-inline ulockd-footer-font-icon style2">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-feed"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
					<div class="footer-qlink">
						<h3 class="text-uppercase"><span class="text-thm1">NAVIGATION</span></h3>
						<ul class="list-unstyled">
							<li><a href="#">About Us</a></li>
							<li><a href="#">Home</a></li>
							<li><a href="#">News</a></li>
							<li><a href="#">Our Services</a></li>
							<li><a href="#">Sitemap</a></li>
							<li><a href="#">Team Details</a></li>
							<li><a href="#">Contact Us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<div class="footer-contact">
						<h3 class="text-uppercase"><span class="text-thm1">CONTACT US</span></h3>
						<p>Victoria 8007 Australia Envato HQ 121 King Street, Melbourne.</p>
						<div class="ftr-phone"><span>Phone </span>: <a href="#"> 99 55 66 88 526</a></div>
						<div class="ftr-fax"><span>Fax </span>: <a href="#"> 55 44 77 62</a></div>
						<div class="ftr-mail"><span>Email </span>: <a href="#"> beahand@email.com</a></div>
						<div class="ftr-mail"><span>Website </span>: <a href="#"> https://envato.com/</a></div>
						<div class="ftr-mail"><span>Website </span>: <a href="#"> https://themeforest.net/</a></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<div class="footer-twitter">
						<h3 class="text-uppercase"><span class="text-thm1">TWITTER FEEDS</span></h3>
						<div class="twitter style2"></div>
					</div>
				</div>
			</div>
		</div>
	</section> -->

	<!-- Our CopyRight -->
	<section class="ulockd-l2-copy-right">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="color-white">Copyright© Sciaku.com. <a class="color-white" href="https://www.sciaku.com" target="_blank">Sciaku</a> All right reserved.</p>
				</div>
			</div>
		</div>
	</section>