<div class="container mt10">
    <div class="row">
        <div class="col-md-12">
            <mat-card>
                <!-- {{familyData.value|json}} -->
                <h1 class="text-center">Needy People Form</h1>
                <form [formGroup]="familyData">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" st>
                                <mat-label>Name of Needy People</mat-label>
                                <input type="text" name="name_of_needy_people" formControlName="name_of_needy_people"
                                    matInput placeholder="Placeholder">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Hint</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Contact No.</mat-label>
                                <input type="number" name="contact" formControlName="contact" matInput
                                    placeholder="Placeholder">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Hint</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Address</mat-label>
                                <input type="text" name="address" formControlName="address" matInput
                                    placeholder="Placeholder">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Hint</mat-hint>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>City</mat-label>
                                <input type="text" name="city" formControlName="city" matInput
                                    placeholder="Placeholder">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Hint</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Total No. Of Person</mat-label>
                                <input type="number" name="no_of_person" formControlName="no_of_person" matInput
                                    placeholder="Placeholder">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Hint</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Drop off Location</mat-label>
                                <input type="text" name="drop_of_location" formControlName="drop_of_location" matInput
                                    placeholder="Placeholder">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Hint</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Pin Code</mat-label>
                                <input type="number" name="pincode" formControlName="pincode" matInput
                                    placeholder="Placeholder">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Hint</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Description</mat-label>
                                <textarea type="text" name="description" formControlName="description" matInput
                                    placeholder="Placeholder"></textarea>
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Hint</mat-hint>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <input type="file" value="select" placeholder="Placeholder"
                                (change)="onFileSelected($event)">
                        </div>
                        <div class="col-md-12">
                            <mat-checkbox class="example-margin" (change)="onChange($event)">Accept all terms &
                                conditions.</mat-checkbox>
                        </div>
                        <div class="col-md-12 text-center">
                            <button mat-raised-button color="accent" (click)="addFamily()">Add Now</button>
                        </div>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>