

<div class="container mt10">
    <div class="row">
        <div class="col-md-12">
            <mat-card>
                <h1 class="text-center">Needy People Form</h1>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" st>
                            <mat-label>Name of Needy People</mat-label>
                            <input matInput placeholder="Placeholder">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            <mat-hint>Hint</mat-hint>
                          </mat-form-field>     
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Contact No.</mat-label>
                            <input matInput placeholder="Placeholder">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            <mat-hint>Hint</mat-hint>
                          </mat-form-field>     
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Address</mat-label>
                            <input matInput placeholder="Placeholder">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            <mat-hint>Hint</mat-hint>
                          </mat-form-field>     
                    </div>
                   
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>City</mat-label>
                            <input matInput placeholder="Placeholder">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            <mat-hint>Hint</mat-hint>
                          </mat-form-field>     
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="address" appearance="outline">
                            <mat-label>Total No. Of Person</mat-label>
                            <input matInput placeholder="Placeholder">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            <mat-hint>Hint</mat-hint>
                          </mat-form-field>     
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Drop off Location</mat-label>
                            <input matInput placeholder="Placeholder">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            <mat-hint>Hint</mat-hint>
                          </mat-form-field>     
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Pin Code</mat-label>
                            <input matInput placeholder="Placeholder">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            <mat-hint>Hint</mat-hint>
                          </mat-form-field>     
                    </div>
                    <div class="col-md-12 text-center">
                        <button mat-raised-button color="accent">Add Now</button>
                    </div>
                </div>                                
            </mat-card>
        </div>
    </div>
</div>