<mdb-carousel [controls]="true" [indicators]="true" [dark]="true" [animation]="'fade'">
    <mdb-carousel-item>
        <img src="assets/images/home/h1.jpg" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
            <div class="mslider-details">
                <div class="slider-text1 text-thm2">Charity organizations</div>
                <div class="slider-text2">Build a Beautiful World</div>
                <div class="slider-text3">
                    <p>We Build a Fundraising For Help Less People</p>
                </div>
                <a href="#" class="btn btn-lg ulockd-btn-thm2 ulockd-home-btn" data-toggle="modal"
                    data-target=".bs-example-modal-default"><span> Donate Now</span></a>
            </div>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img src="assets/images/home/h4.jpg" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
            <div class="mslider-details">
                <div class="slider-text1 text-thm2">Foodster</div>
                <div class="slider-text2">Donate For Clean Water</div>
                <div class="slider-text3">
                    <p>Clean Water Can Change The Children & Womens Life, Make Yourself Become a Changer</p>
                </div>
                <a href="#" class="btn btn-lg ulockd-btn-thm2 ulockd-home-btn" data-toggle="modal"
                    data-target=".bs-example-modal-default"><span> Donate Now</span></a>
            </div>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img src="assets/images/home/h5.jpg" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
            <div class="mslider-details">
                <div class="slider-text1">No one has ever become poor by giving</div>
                <div class="slider-text2">Foodster Make Yourself</div>
                <div class="slider-text3">
                    <p>Give a helping hand to those who need it</p>
                </div>
                <a href="#" class="btn btn-lg ulockd-btn-thm2 ulockd-home-btn" data-toggle="modal"
                    data-target=".bs-example-modal-default"><span> Donate Now</span></a>
            </div>
        </div>
    </mdb-carousel-item>
</mdb-carousel>