
	<div class="ulockd-home-slider">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 ulockd-pmz">
					<div class="main-slider2">						
						<div class="item">
							<div class="mslider-caption text-left">
								<div class="mslider-details">
									<div class="slider-text1 text-thm2">Charity organizations</div>
									<div class="slider-text2"><span>Build a Beautiful World</span></div>
									<div class="slider-text3"><p>We Build a Fundraising For Help Less People</p></div>
									<a href="#" class="btn btn-lg ulockd-btn-thm2 ulockd-home-btn" data-toggle="modal" data-target=".bs-example-modal-default"><span> Donate Now</span></a>
								</div>
							</div>
							<img class="img-responsive img-whp" src="assets/images/home/h1.jpg" alt="h1.jpg">
						</div>
						<div class="item">
							<div class="mslider-caption text-center">
								<div class="mslider-details">
									<div class="slider-text1 text-thm2">Be aHand</div>
									<div class="slider-text2">Donate For Clean Water</div>
									<div class="slider-text3">
										<p>Clean Water Can Change The Children & Womens Life, Make Yourself Become a Changer</p>
									</div>
									<a href="#" class="btn btn-lg ulockd-btn-thm2 ulockd-home-btn" data-toggle="modal" data-target=".bs-example-modal-default"><span> Donate Now</span></a>
								</div>
							</div>
							<img class="img-responsive img-whp" src="assets/images/home/h4.jpg" alt="h4.jpg">
						</div>
						<div class="item">
							<div class="mslider-caption text-right">
								<div class="mslider-details">
									<div class="slider-text1">No one has ever become poor by giving</div>
									<div class="slider-text2">Be aHand Make Yourself</div>
									<div class="slider-text3">
										<p>Give a helping hand to those who need it</p>
									</div>
									<a href="#" class="btn btn-lg ulockd-btn-thm2 ulockd-home-btn" data-toggle="modal" data-target=".bs-example-modal-default"><span> Donate Now</span></a>
								</div>
							</div>
							<img class="img-responsive img-whp" src="assets/images/home/h5.jpg" alt="h5.jpg">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>