<div class="wrapper">
	<!-- Modal -->
  	<div class="header-topped-two">
  		<div class="container">
  			<div class="row">
  				<div class="col-sm-6 col-md-3 col-lg-4">
  					<div class="social-linked-two">
  						<ul class="list-inline">
  							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
  							<li><a href="#"><i class="fa fa-rss"></i></a></li>
  							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
  							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
  							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
  						</ul>
  					</div>
  				</div>
  				<div class="col-sm-6 col-md-3 col-lg-3 ulockd-padz">
  					<div class="welcm-ht-two">
	  					<p class="ulockd-mail"><span>Opening Hour </span>: Mon-Sat 8:00-21:00</p>
  					</div>
  				</div>
  				<div class="col-sm-6 col-md-3 col-lg-2 ulockd-padz">
  					<div class="welcm-ht-two">
	  					<p class="ulockd-phone"><span>Phone </span>: +98 589 6584 547</p>
  					</div>
  				</div>
  				<div class="col-sm-6 col-md-3 col-lg-3">
  					<div class="welcm-ht-two">
	  					<p class="ulockd-mail"><span>Email </span>: beahand@email.com</p>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>

	<!-- Header Styles -->
	<div class="header-nav">
		<div class="main-header-nav-two navbar-scrolltofixed">
			<div class="container">
			    <nav class="navbar navbar-default bootsnav menu-style2">
			        <div class="container ulockd-pdng0">
			            <!-- Start Header Navigation -->
			            <div class="navbar-header">
			                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
			                    <i class="fa fa-bars"></i>
			                </button>
		                	<a class="navbar-brand ulockd-main-logo2" href="#brand"><img src="assets/images/header-logo2.png" class="logo" alt=""></a>
			            </div>
			            <!-- End Header Navigation -->

			            <!-- Collect the nav links, forms, and other content for toggling -->
			            <div class="collapse navbar-collapse" id="navbar-menu">
			                <ul class="nav navbar-nav navbar-right" data-in="jello">
			                    <li class="dropdown">
			                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Home</a>
			                        <ul class="dropdown-menu">
										<li class="dropdown">
					                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Multipage</a>
					                        <ul class="dropdown-menu">
												<li><a href="index-multipage.html">Multipage One</a></li>
												<li><a href="index-multipage2.html">Multipage Two</a></li>
					                        </ul>
					                    </li>
										<li class="dropdown">
					                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Single Page</a>
					                        <ul class="dropdown-menu">
												<li><a href="index-singlepage.html">Single Page One</a></li>
												<li><a href="index-singlepage2.html">Single Page Two</a></li>
					                        </ul>
					                    </li>
										<li class="dropdown">
					                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Boxed Style</a>
					                        <ul class="dropdown-menu">
												<li><a href="index-multipage-boxed.html">Multipage One Boxed</a></li>
												<li><a href="index-multipage2-boxed.html">Multipage Two Boxed</a></li>
												<li><a href="index-singlepage-boxed.html">Single Page One Boxed</a></li>
												<li><a href="index-singlepage2-boxed.html">Single Page Two Boxed</a></li>
					                        </ul>
					                    </li>
										<li class="dropdown">
					                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">RTL Style</a>
					                        <ul class="dropdown-menu">
												<li><a href="index-multipage-rtl.html">Multipage One RTL</a></li>
												<li><a href="index-multipage2-rtl.html">Multipage Two RTL</a></li>
												<li><a href="index-singlepage-rtl.html">Single Page One RTL</a></li>
												<li><a href="index-singlepage2-rtl.html">Single Page Two RTL</a></li>
					                        </ul>
					                    </li>
			                        </ul>
			                    </li>
			                    <li class="dropdown">
			                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Feature</a>
			                        <ul class="dropdown-menu">
					                    <li class="dropdown">
					                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us</a>
					                        <ul class="dropdown-menu">
												<li><a href="page-about.html">About</a></li>
												<li><a href="page-about2.html">About Two</a></li>
												<li><a href="page-about3.html">About Three</a></li>
					                        </ul>
					                    </li>
					                    <li class="dropdown">
					                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Causes</a>
					                        <ul class="dropdown-menu">
												<li><a href="page-causes-grid.html">Causes Grid</a></li>
												<li><a href="page-causes-list.html">Causes List</a></li>
												<li><a href="page-causes-single.html">Causes Single</a></li>
					                        </ul>
					                    </li>
					                    <li class="dropdown">
					                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Volunteer</a>
					                        <ul class="dropdown-menu">
												<li><a href="page-team-one.html">Volunteer One</a></li>
												<li><a href="page-team-two.html">Volunteer Two</a></li>
												<li><a href="page-team-details.html">Volunteer Details</a></li>
												<li><a href="page-team-registration.html">Volunteer Registration</a></li>
					                        </ul>
					                    </li>
					                    <li class="dropdown">
					                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Booking Form</a>
					                        <ul class="dropdown-menu">
												<li><a href="ulockd-booking-form.html">Form One</a></li>
												<li><a href="ulockd-booking-form2.html">Form Two</a></li>
												<li><a href="ulockd-booking-form3.html">Form Three</a></li>
					                        </ul>
					                    </li>
					                    <li class="dropdown">
					                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Job Apply Form</a>
					                        <ul class="dropdown-menu">
												<li><a href="ulockd-job-apply-form.html">Form One</a></li>
												<li><a href="ulockd-job-apply-form2.html">Form Two</a></li>
					                        </ul>
					                    </li>
			                        </ul>
			                    </li>
			                    <li class="dropdown">
			                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Volunteer</a>
			                        <ul class="dropdown-menu">
										<li><a href="page-team-one.html">Volunteer One</a></li>
										<li><a href="page-team-two.html">Volunteer Two</a></li>
										<li><a href="page-team-details.html">Volunteer Details</a></li>
										<li><a href="page-team-registration.html">Volunteer Registration</a></li>
			                        </ul>
			                    </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
                                    <ul class="dropdown-menu">
										<li class="dropdown">
											<a href="blog-grid-one.html" class="dropdown-toggle" data-toggle="dropdown">Blog Grid</a>
	                                        <ul class="dropdown-menu">
												<li><a href="blog-grid-one.html">Blog Grid One</a></li>
												<li><a href="blog-grid-two.html">Blog Grid Two</a></li>
												<li><a href="blog-grid-three.html">Blog Grid Three</a></li>
	                                        </ul>
										</li>
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog Single</a>
	                                        <ul class="dropdown-menu">
												<li><a href="blog-signle-left-sidebar.html">Sidebar left</a></li>
												<li><a href="blog-signle-right-sidebar.html">Sidebar Right</a></li>
												<li><a href="blog-signle-sidebar-less.html">Sidebar Less</a></li>
	                                        </ul>
										</li>
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog Classic</a>
	                                        <ul class="dropdown-menu">
												<li><a href="blog-left-sidebar.html">Sidebar left</a></li>
												<li><a href="blog-right-sidebar.html">Sidebar Right</a></li>
												<li><a href="blog-sidebar-less.html">Sidebar Less</a></li>
	                                        </ul>
										</li>
                                    </ul>
                                </li>
			                    <li class="dropdown">
			                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
			                        <ul class="dropdown-menu">
										<li><a href="page-appointment.html">Appointment</a></li>
										<li><a href="page-coming-soon.html">Coming Soon</a></li>
										<li><a href="page-donation.html">Donation Form</a></li>
										<li><a href="page-error.html">Error</a></li>
					                    <li class="dropdown">
					                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Event</a>
					                        <ul class="dropdown-menu">
												<li><a href="page-event-grid.html">Event Grid</a></li>
												<li><a href="page-event-list.html">Event List</a></li>
												<li><a href="page-event-single.html">Event Single</a></li>
					                        </ul>
					                    </li>
										<li><a href="page-faq.html">Faq</a></li>
					                    <li class="dropdown">
					                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Google Calendar</a>
					                        <ul class="dropdown-menu">
												<li><a href="page-fullcalendar.html">Monthly Event</a></li>
												<li><a href="page-fullcalendar2.html">Weekly Event</a></li>
					                        </ul>
					                    </li>
					                    <li class="dropdown">
					                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gallery</a>
					                        <ul class="dropdown-menu">
												<li><a href="page-gallery.html">Gallery One</a></li>
												<li><a href="page-gallery2.html">Gallery Two</a></li>
												<li><a href="page-gallery3.html">Gallery Three</a></li>
					                        </ul>
					                    </li>
					                    <li class="dropdown">
					                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pricing</a>
					                        <ul class="dropdown-menu">
												<li><a href="page-pricing.html">Pricing One</a></li>
												<li><a href="page-pricing2.html">Pricing Two</a></li>
					                        </ul>
					                    </li>
					                    <li class="dropdown">
					                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop</a>
					                        <ul class="dropdown-menu">
												<li><a href="page-shop.html">Our Shop</a></li>
												<li><a href="page-product-details.html">Product Details</a></li>
												<li><a href="page-shoping-cart.html">Shopping Cart</a></li>
												<li><a href="page-shoping-checkout.html">Shopping Checkout</a></li>
					                        </ul>
					                    </li>
										<li><a href="page-sitemap.html">Sitemap</a></li>
										<li><a href="page-under-construction.html">Under Construction</a></li>
			                        </ul>
			                    </li>
			                    <li class="dropdown">
			                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact</a>
			                        <ul class="dropdown-menu">
										<li><a href="page-contact.html">Contact Us</a></li>
										<li><a href="page-contact2.html">Contact Us Two</a></li>
			                        </ul>
			                    </li>
			                </ul>
			            </div>
			            <!-- /.navbar-collapse -->
			        </div>
			    </nav>
			</div>
		</div>
	</div>
</div>